* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --barra_color: black;
    --menu_movil: rgb(248, 29, 1);
    --color_menu_desplegable: rgb(248, 29, 1, 0.9);
    --third: #08d9d6;
    --gray: #eaeaea;
    --fuente_bold: normal bold 1rem "f1-display-bold";
    --fuente_normal: normal lighter 1rem "f1-display-regular";

}

/*FUENTES*/
body {
    font: var(--fuente_normal);
}



button {
    background-color: transparent;
    border: 0px;
}

main {
    max-width: 100vw;
    height: auto;
}

.menu {
    max-width: 100vw;
    position: sticky;
    top: 0px;
    z-index: 100;
}



.menu-mob {
    position: fixed;
    z-index: 700;
    left: 200vw;
    top: 50px;
    background: var(--color_menu_desplegable);
    height: 100vh;
    width: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 2s;
}

.menu-open {
    width: 60vw;
    left: 0;
    transition: all 1s;
}

.menu ul {
    list-style: none;
}

.menu-mob li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.contenedor {
    /* background-color: black; */
    display: inline-block;
}

.contenedor div {
    height: 5px;
    width: 0%;
    background-color: white;
    transition: width 1s linear;
}

.contenedor:hover div {
    width: 100%;
}

.top-bar {
    height: 50px;
    background: var(--menu_movil);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 900;
    box-shadow: 0 0 12px var(--menu_movil);
}


/*seccion INICIO*/
section:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.contenedor-circuito {
    width: 100%;
}

.contenedor-circuito header {
    font: var(--fuente_bold);
    margin: 10px 0px;
    text-align: center;
}

.contenedor-imagen {
    max-width: 100%;
    min-width: 200px;
    /* background-color: aqua; */
}

.contenedor-datos-circuito {
    width: 100%;
    /* background-color: brown; */
}

.contenedor-circuito .contenedor-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenedor-datos-circuito {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

.contenedor-premio-vuelta,
.contenedor-circuito-carrera {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0px 5px;
}

.contenedor-record {
    width: 100%;
}

.contenedor-premio-vuelta div,
.contenedor-circuito-carrera div,
.contenedor-record {
    width: 100%;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom-right-radius: 20px;
    padding: 5px;
}

.contenedor-datos-circuito div div p,
.contenedor-datos-circuito div p {
    font-size: 1.188rem;
}

.contenedor-circuito-carrera span span,
.contenedor-record span span {
    font-size: 0.688rem;
}

.contenedor-tablas-clasificacion {
    padding-left: 5px;
}

/* clasificacion pilotos*/


.contenedor-clasificacion-pilotos {
    width: 100%;
    height: auto;
    /* background-color: #08d9d6; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-clasificacion-pilotos header {
    text-align: center;
    color: var(--menu_movil);
    font: var(--fuente_bold);
}

.contenedor-tabla-pilotos {
    width: 100%;
    height: 250px;
    /* background-color: #08d9d6; */
    display: flex;
    gap: 0px 10px;
    overflow-x: auto;
    padding-right: 5px;
}

/*cabecera*/
.contenedor-cabecera {
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 10px 0px;
    position: sticky;
    left: 0px;
    border-radius: 10px;
}

.contenedor-cabecera div {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}

/*filas*/
.contenedor-row {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    /* background-color: red; */
}

.contenedor-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    /* background-color:blue; */
}

.contenedor-row .contenedor-nombre {
    font-size: 12px;
}

.contenedor-row .contenedor-pais img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-row .contenedor-posicion {
    font-size: 20px;
}

/*clasificacion equipos*/

.contenedor-clasificacion-equipos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.contenedor-clasificacion-equipos header {
    text-align: center;
    color: var(--menu_movil);
    font: var(--fuente_bold);
}

.contenedor-tabla-equipos {
    display: flex;
    width: 100%;
    gap: 0px 10px;
    overflow-x: auto;
}

.contenedor-cabecera-equipos {
    display: flex;
    flex-direction: column;
    background-color: red;
    gap: 10px 0px;
    position: sticky;
    left: 0px;
    border-radius: 10px;
}

.contenedor-cabecera-equipos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 90px;
}

.contenedor-row-equipos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 96px;
}

.contenedor-escuderia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*establecemos opacidad del background DE LOS SECTION EQUIPOS Y PILOTOS*/
section:nth-child(2),
section:nth-child(3) {
    max-width: 100%;
    height: auto;
    position: relative;
}


section:nth-child(2)::before,
section:nth-child(3)::before {
    content: " ";
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    background-image: url(/img/fondo_movil.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/*cards eqipos*/

main section:nth-child(2) {
    width: 100%;
    height: auto;
    padding-top: 50px;
    /* display: flex;
    flex-direction: column; */
}

main section:nth-child(2) header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    z-index: 10;
    text-align: center;
    font: var(--fuente_bold);
}

main section:nth-child(2) .contenedor-equipos {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 35px;
}

.contenedor-equipos div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* OCULTAMOS DESCRIPCION EQUIPO PARA MOVIL */

.ocultar div {
    display: none;
}

/* REALIZAMOS HOVER */

main section:nth-child(2) img {
    width: 70%;
    transition: all 1s linear;
}

main section:nth-child(2) img:hover {
    transform: scale(1.4);
    transition: all 1s linear;
}



/*cards pilotos*/

/*FUENTE CARDS PILOTOS*/
.contenedor_puntos,
.contenedor_numero {
    font-family: "f1-display-bold";
    font-style: "normal";
    font-weight: bold;
}

main section:nth-child(3) {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: white; */
}

main section:nth-child(3) header {
    font: var(--fuente_bold);
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
}

.contenedor_cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    padding: 0px 10px;
}

.contenedor_img_casco_bandera {
    transition: border-radius 3s linear;
    position: relative;
    width: 100%;
    height: 300px;
    /* background-color: blanchedalmond; */
    z-index: 2;
}

.contenedor_img {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(248, 29, 1), rgb(21, 21, 30));
    border-radius: 10px;
    transition: border-radius 2s linear;
    /* background-image: repeating-linear-gradient(45deg,rgba(248, 29, 1) 5%,rgb(21, 21, 30) 8%,rgba(248, 29, 1) 5%); */
}

.contenedor_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenedor_casco {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 50px;
    height: 50px;
    /* background-color: blue; */
}

.casco {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.contenedor_bandera {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 50px;
    height: 33px;
    /* background-color: aqua; */
}

.bandera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-nombre-cards-pilotos {
    position: absolute;
    top: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    left: 10px;
    color: white;
}

.contenedor-nombre-cards-pilotos p {
    font: var(--fuente_bold);
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
}

/* .contenedor_puntos span:nth-child(1){
    font-size: 1.875rem;
    text-align: center;
}

.contenedor_puntos span:nth-child(2){
    background-color: black;
    color: white;
    text-align: center;
    width: 80px;
    font-size: 1.875rem;
} */

.contenedor_numero {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.contenedor_numero span {
    font-size: 3.75rem;
}

.contenedor_datos {
    /* display: none;
    opacity: 0; */
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    font-size: 13px;
    background-color: white;
    padding: 5px;
    position: relative;
    top: -120px;
    z-index: 0;
    transition: all 2s linear;
}

.contenedor_datos p {
    display: flex;
    justify-content: space-between;
}

.contenedor_datos p span:nth-child(1) {
    font-family: "f1-display-bold";
    font-style: "normal";
    font-weight: bold;
}

.contenedor_img_casco_bandera:hover+.contenedor_datos {
    /* display: block;
    opacity: 0.5; */
    position: relative;
    top: 0px;
    z-index: 1;
    transition: all 1s linear;
}

.contenedor_img:hover {
    transition: border-radius 1s linear;
    border-radius: 10px 10px 0px 0px;
}

.contenedor_img:hover .piloto {
    transition: border-radius 1s linear;
    border-radius: 10px 10px 0px 0px;
}

/* FORMULARIO */
main section:nth-child(4) {
    background-color: var(--menu_movil);
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    height: auto;
    gap: 30px 0px;
}

.contenedor-formulario header {
    text-align: center;
}

.contenedor-formulario form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor-formulario form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}

/*ESTILOS INPUT Y TEXTAREA y LABEL*/
.contenedor-formulario form div input {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 5px;
}

/* ESTILOS INPUT BUTTON */

.contenedor-formulario .contenedor-button input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 5px;
    font: var(--fuente_bold);
}

.contenedor-formulario form div textarea {
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 5px;
}

.contenedor-formulario form div label {
    font-weight: bold;
}

/* FORM FOCUS */

.contenedor-formulario form div input:focus,
.contenedor-formulario form div textarea:focus {
    border: 3px solid rgb(21, 21, 30);
}


/*footer*/

footer {
    background-color: rgb(21, 21, 30);
    color: white;
    width: 100%;
    padding: 10px;
}

/* ESTILOS REDES SOCIALES */
footer .contenedor-redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    width: 100%;
}

footer .contenedor-redes-sociales div {
    background-color: rgb(255, 255, 255, 0.5);
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedor-redes-sociales div i {
    font-size: 25px;
    transition: 1s;
}

.contenedor-redes-sociales div:active {
    transform: scale(1.2);
}

.contenedor-redes-sociales div:hover i {
    transform: scale(1.5);
    transition: 1s;
    color: var(--menu_movil);
}

.type-hr {
    height: 2px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    margin-top: 10px;
}

/* ESTILOS MENU FOOTER */
footer nav {
    width: 100%;
    padding: 10px;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer nav ul li {
    list-style: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    padding-bottom: 5px;
}

footer nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.6);

}

footer nav ul li a:hover footer nav ul li {
    color: var(--menu_movil);

}

footer nav ul li a:hover {
    color: var(--menu_movil);
}

footer nav ul li a:active {
    font-size: 0.875rem;
}

/* ESTILOS LOGO FOOTER */
.contenedor-logo-footer {
    width: 100%;
    height: auto;
    text-align: center;
}

.contenedor-logo-footer img {
    width: 300px;
}

.contenedor-logo-footer p {
    font-size: 0.875rem;
}


/* MEDIA QUERIES */

@media only screen and (min-width:900px) {

    /* MENU */

    .top-bar {
        display: none;
    }

    .menu-mob {
        transition: none;
        position: static;
        height: 50px;
        width: 100%;
        background-color: var(--menu_movil);
    }

    .menu-mob ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* INICIO */

    section:first-child {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0px 10px;
    }

    .contenedor-circuito {
        width: 50%;
    }

    .contenedor-tablas-clasificacion {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
    }

    /* ESTILOS SCROLLBAR FIREFOX */
    .contenedor-tabla-pilotos,
    .contenedor-tabla-equipos {
        scrollbar-width: thin;
        scrollbar-color: var(--menu_movil) rgb(21, 21, 30);
    }

    /* ESTILOS SCROLLBAR GOOGLE CHROME,SAFARI... */
    .contenedor-tabla-pilotos::-webkit-scrollbar {
        height: 10px;
    }

    .contenedor-tabla-pilotos::-webkit-scrollbar-track {
        background: rgb(21, 21, 30);
        border-radius: 10px;
        height: 10px;
    }

    .contenedor-tabla-pilotos::-webkit-scrollbar-thumb {
        background-color: var(--menu_movil);
        border-radius: 10px;

    }

    .contenedor-tabla-equipos::-webkit-scrollbar {
        height: 10px;
    }

    .contenedor-tabla-equipos::-webkit-scrollbar-track {
        background: rgb(21, 21, 30);
        border-radius: 10px;
    }

    .contenedor-tabla-equipos::-webkit-scrollbar-thumb {
        background-color: var(--menu_movil);
        border-radius: 20px;

    }

    /* ESTILOS EQUIPOS */

    .contenedor-equipos {
        width: 100%;
        height: 500px;
        position: relative;
        /* background-color: black; */
        z-index: 2;
    }

    .contenedor-equipos div {
        position: absolute;
        width: 360px;
        transition: none;
        transform: none;
        /* background-color: black; */
    }

    .contenedor-equipos div img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: none;
        transform: none;
    }

    .contenedro-equipo-mercedes {
        right: 0px;
        top: 50px;
    }

    .contenedor-equipo-retbull {
        top: 0px;
    }

    .contenedor-equipo-ferrari {
        left: 0px;
        top: 50px;
    }

    .contenedor-equipo-maclaren {
        left: 0px;
        top: 165px;
    }

    .contenedor-equipo-alpin {
        right: 0px;
        top: 165px;
    }

    .contenedor-equipo-astonmartin {
        left: 0px;
        bottom: 140px;
    }

    .contenedor-equipo-alfaromeo {
        right: 0px;
        bottom: 140px;
    }

    .contenedor-equipo-alphatauri {
        left: 0px;
        bottom: 35px;
    }

    .contenedor-equipo-hass {
        right: 0px;
        bottom: 35px;
    }

    .contenedor-equipo-williams {
        bottom: 0px;
    }

    .ocultar div {
        position: absolute;
        display: flex;
        top: -140px;
        left: 9px;
        transition: opacity 1s linear;
        /* background-color: white; */
    }

    .ocultar div div {
        position: static;
    }

    .ocultar div{
        opacity: 0;
    }

    .ocultar div div p:nth-child(1) {
        font: var(--fuente_bold);
    }

    .ocultar div div p:nth-child(2) {
        font-size: 13px;
    }

    /* SE ANULA EL HOVER DE MOVIL */
    main section:nth-child(2) img {
        transition: none;
    }

    main section:nth-child(2) img:hover {
        transform: none;
        transition: none;
    }

    /* EVENTO PARA MOSTRAR DATOS DE EQUIPOS */

    .contenedor-equipos :nth-child(odd):hover + div div {
        opacity: 1;
        transition: opacity 1s linear;
    }


    /* FROMULARIO */

    section:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor-formulario {
        width: 50%;
    }

    /* CAMBIAMOS IMAGEN FONDO F1 */
section:nth-child(2),
section:nth-child(3) {
    max-width: 100%;
    height: auto;
    position: relative;
}

section:nth-child(2)::before,
section:nth-child(3)::before {
    content: " ";
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    background-image: url(/img/fondo_escritorio.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

}



.contenedor-carga-pagina {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 30,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -150%;
    animation: carga 8s cubic-bezier(.68,1.72,1,.9);
    padding: 0px 10px;
    /* animation: ocultarCarga 3s linear 4s; */
}

.contenedor-imagen-logo-carga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen-logo-carga img{
    width: 90%;
    opacity: 0;
    animation: opacidadlogo 2s linear 2.5s forwards
}

@keyframes carga {
    0%{left: -150%;}
    50%{
        left: 0%;
        backdrop-filter: blur(10px);
    }
    60%{
        left: 0%;
        backdrop-filter: blur(10px);  
    }
    100%{
        left: -150%;
        backdrop-filter: blur(10px);
    }
}

@keyframes opacidadlogo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}